<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="Plugin2">
      </category>
      <view
            name="%view.name"
            icon="icons/sample.gif"
            category="Plugin2"
            class="plugin2.views.Stack"
            id="plugin2.views.Stack">
      </view>
      <view
            category="Plugin2"
            class="plugin2.views.Heap"
            icon="icons/sample.gif"
            id="plugin2.views.Heap"
            name="%view.name.0">
      </view>
      <view
            category="Plugin2"
            class="plugin2.views.ProgramInfo"
            icon="icons/sample.gif"
            id="plugin2.views.ProgramInfo"
            name="%view.name.1">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="plugin2.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
